.navTextPrimary {
  color: white !important;
}


.colorNav {
  background-color: #C28285;
}

.instagramContainer {
  position: 'absolute' !important;
  bottom: 0 !important;
}

body {
  background-color: #fde4e7;
}
